@tailwind base;
@tailwind components;
@tailwind utilities;

.link-hover {
  @apply relative;
}

.link-hover::after {
  content: "";
  @apply absolute left-0 bottom-0 bg-purple-500 w-full h-px scale-x-0 transition-transform duration-200 ease-in-out;
}

.link-hover:hover::after {
  @apply scale-x-100;
}

.link-click:active {
  @apply text-purple-500;
}

.custom-button {
  @apply border border-purple-500 rounded-full text-purple-500 px-2 py-1;
}

.button-interaction:hover {
  @apply bg-purple-500 text-white transition-colors duration-200 ease-in-out;
}

.hero-shadow {
  box-shadow: inset 0 4rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.section-bullet {
  background: rgb(168, 85, 247);
  background: -moz-linear-gradient(
    90deg,
    rgba(168, 85, 247, 1) 25%,
    rgba(6, 182, 212, 1) 75%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(168, 85, 247, 1) 25%,
    rgba(6, 182, 212, 1) 75%
  );
  background: linear-gradient(
    90deg,
    rgba(168, 85, 247, 1) 25%,
    rgba(6, 182, 212, 1) 75%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a855f7",endColorstr="#06b6d4",GradientType=1);
  @apply rounded-full w-12 h-4;
}

.custom-shadow {
  @apply relative;
}

.custom-shadow::before {
  content: "";
  box-shadow: 0 0 1rem 0.5rem #a855f7;
  @apply absolute left-0 right-0 top-0 bottom-0 rounded-3xl animate-pulse;
}

.custom-card-shadow {
  @apply relative;
}

/* .custom-card-shadow::before {
  content: "";
  box-shadow: 0 0 2rem -1rem #a855f7;
  @apply absolute left-0 right-0 top-0 bottom-0 rounded-3xl;
} */

.icon-hover:hover {
  @apply text-purple-500 transition-colors duration-200 ease-in-out;
}
